---

- name: Enable/disble plugins
  ansible.builtin.command:
    cmd: "/snap/bin/microk8s {{ 'enable' if microk8s_plugin.value else 'disable' }} {{ microk8s_plugin.key }}"
  loop: "{{ microk8s_plugins | default([]) }}"
  loop_control:
    loop_var: microk8s_plugin
    label: "{{ microk8s_plugin.key }}"
  when: microk8s_is_master | default(false) | bool
  register: microk8s_cmd_result
  changed_when:
    - "'is already enabled' not in microk8s_cmd_result.stdout"
  tags:
    - molecule-idempotence-notest
    - microk8s
    - microk8s.plugins
    - microk8s.plugins.enable
  become: true

- name: Enable/disable registry
  ansible.builtin.command:
    cmd: "/snap/bin/microk8s {{ 'enable' if microk8s_registry | default(false) else 'disable' }} registry:size={{ microk8s_registry_size }}"
  register: microk8s_cmd_result
  changed_when:
    - "'Addon registry is already enabled' not in microk8s_cmd_result.stdout"
  when: microk8s_is_master | default(false) | bool and microk8s_registry
  tags:
    - microk8s
    - microk8s.plugins
    - microk8s.plugins.enable
    - microk8s.plugins.enable.registry
  become: true


