---

- name: Enable crgroups
  ansible.builtin.import_tasks:
    file: cgroups.yml
  tags:
    - microk8s

- name: install microk8s
  ansible.builtin.import_tasks:
    file: install.yml
  tags:
    - microk8s

- name: configure microk8s Users
  ansible.builtin.import_tasks:
    file: configure-groups.yml
  when:
    - microk8s_users is defined
    - microk8s_users not in ([], None, '', omit)
  tags:
    - microk8s
    - microk8s.users
    - notest
    
- name: reset ssh connection
  meta: reset_connection
  
- name: gather facts aftter ssh connection reset
  setup:

- name: configure High Availability
  ansible.builtin.import_tasks:
    file: configure-HA.yml
  when:
    - microk8s_enable_ha | bool
  tags:
    - microk8s
    - microk8s.ha

- name: configure plugins
  ansible.builtin.import_tasks:
    file: configure-plugins.yml
  run_once: true
  when:
    - microk8s_plugins is defined
  tags:
    - microk8s
    - microk8s.plugins

- name: configure Certificates
  ansible.builtin.import_tasks:
    file: configure-certs.yml
  tags:
    - microk8s
    - microk8s.certs
    - microk8s.certs.info

